@use "../global" as g;
.l-body {
  color: g.$color-text;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "游ゴシック", "Yu Gothic", sans-serif;
  letter-spacing: 0.03em;
}
input,textarea,select {
  font-family: "游ゴシック", "Yu Gothic";
}