@use "../global" as g;
.l-body {
  color: g.$color-text;
  font-family: "Inter", "Noto Sans JP", "Hiragino Sans" , "ヒラギノ角ゴ ProN", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, "游ゴシック Medium", YuGothic, YuGothicM, sans-serif;
  font-feature-settings: "palt";
  text-justify: inter-ideograph;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
  @include g.mq(md) {
    font-size: 15px;
    line-height: 24px;
  }
}
input,textarea,select {
  font-family: "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Sans", "ヒラギノ角ゴ ProN", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, Helvetica, sans-serif;
  @include g.mq(md) {
    font-size: 15px;
  }
}