@use "../global" as g;
.header {
  max-width: 1300px;
  width: 85%;
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  &-inner {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    @include g.mq(md) {
      padding: 10px;
    }
  }
  &-logo {
    @include g.mq(md) {
      width: 125px;
    }
  }
  &-nav {
    &__list {
      display: flex;
      align-items: center;
    }
    &__item {
      margin-left: 24px;
      a {
        font-weight: 600;
        letter-spacing: 0.08em;
      }
      &:last-child {
        background-color: g.$color-btn;
        border-radius: 10px;
        color: #fff;
        padding: 15px;
      }
    }
  }
  &-sp-menu-bar {
    @include g.mq(lg) {
      width: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 6px;
      cursor: pointer;
      span {
        @include g.mq(lg) {
          width: 100%;
          height: 2px;
          background-color: #338751;
          border-radius: 2px;
          transition: transform 0.3s, opacity 0.3s;
        }
      }
      &.active {
        span:nth-of-type(1) {
          transform: translateY(9px) rotate(45deg);
        }
        span:nth-of-type(2) {
          opacity: 0;
        }
        span:nth-of-type(3) {
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }
    &-inner {
      display: none;
      @include g.mq(lg) {
        background-color: g.$color-primary;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@include g.mq(md) {
        
}
.sp {
  &-header {
    &-modal {
      @include g.mq(md) {
        position: fixed;
        right: 0;
        width: 80%;
        margin-right: auto;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        transform: translateX(300px);
        transition: all 1s;
        z-index: 1;
        &.fadeIn {
          transform: translateX(0);
          opacity: 1;
        }
      }
      &-nav {
        @include g.mq(md) {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          height: 80vh;
          margin-left: auto; 
        }
        &__list {
          @include g.mq(md) {
            display: flex;
            flex-direction: column;
            justify-content: center; 
          }
        }
        &__item {
          @include g.mq(md) {
            color: #fff;
            padding: 20px 0; 
          }
        }
      }
    }
  }
}
