@use "../../global" as g;

.p-top {
  &-main {
    padding-top: 0;
  }
  &-hero {
    width: 100%;
    background-color: transparent;
    margin-top: -40px;
    &__inner {
      background-image: url(../images/head-bg.png);
      background-color: #DFEDD0;
      background-blend-mode: lighten;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 20px;
      padding-top: 80px;
      margin: 0 50px;
      @include g.mq(lg) {
        margin: 0 15px;
        padding-top: 40px;
      }
    }
    &__block {
      background-image: url(../images/top-hero-bg-glasses.png);
      background-blend-mode: lighten;
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-around;
      max-width: 1340px;
      height: 848px;
      margin: 0 auto;
      @include g.mq(lg) {
        background-size: 168%;
        background-position-x: -60vw;
        flex-direction: column-reverse;
        justify-content: start;
        padding: 0 20px;
        padding-bottom: 40px;
        height: auto;
      }
    }
    &__body {
      padding-top: 100px;
      @include g.mq(lg) {
        padding-top: 0;
      }
      &__heading {
        &__intro {
          font-size: 1.35em;
          font-weight: bold;
          letter-spacing: 0.05em;
          display: flex;
          align-items: center;
          justify-content: center;
          @include g.mq(lg) {
            display: block;
          }
          &::before,
          &::after {
            background-color: g.$color-text;
            content: "";
            height: 1px; /* 線の高さ */
            width: 20px; /* 線の長さ */
            @include g.mq(lg) {
              display: none;
            }
          }
          &::before {
            transform: rotate(70deg); /* 傾ける */
          }
          &::after {
            transform: rotate(-70deg); /* 傾ける */
          }
          p {
            @include g.mq(lg) {
              font-size: 0.75em;
            }
          }
        }
        &__box {
          font-size: 2.5vw;
          font-weight: bold;
          margin-top: 20px;
          @include g.mq(lg) {
            font-size: 1.275em;
          }
          &__heading {
            background-color: g.$white;
            padding: 6px;
            width: fit-content;
            &:last-child {
              margin-top: 20px;
              @include g.mq(lg) {
                margin-top: 8px;
              }
            }
          }
        }
        &__desc {
          font-size: 1.125em;
          font-weight: bold;
          margin-top: 20px;
          @include g.mq(lg) {
            font-size: 0.875em;
            letter-spacing: 0.1em;
            line-height: 29.4px;
          }
        }
      }
      &__checks {
        display: flex;
        align-items: center;
        gap: 21px;
        padding-top: 35px;
        @include g.mq(lg) {
          gap: 8px;
          justify-content: center;
          padding-top: 20px;
        }
      }
      &__check {
        width: 134px;
        height: 134px;
        background-color: g.$color-heading;
        border-radius: 50%;
        padding-top: 15px;
        @include g.mq(md) {
          width: 100px;
          height: 100px;
        }
        &__icon {
          width: 30px;
          height: 30px;
          margin: 0 auto;
          @include g.mq(md) {
            width: 20px;
            height: 20px;
          }
        }
        &__text {
          color: g.$white;
          font-size: 0.75rem;
          font-weight: bold;
          line-height: 24px;
          text-align: center;
        }
      }
      &__area {
        background-color: g.$white;
        border: 2px solid g.$color-heading;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 25px;
        margin-top: 35px;
        max-width: 275px;
        @include g.mq(lg) {
          max-width: 100%;
          padding: 15px 25px;
          margin-top: 20px;
        }
        &__text {
          font-weight: bold;
          letter-spacing: 0.1em;
        }
      }
    }
    &__img {
      width: 36%;
      height: auto;
      padding-top: 30px;
      margin-right: 1.35vw;
      @include g.mq(lg) {
        width: 58vw;
        padding-top: 15px;
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  &-beginning {
    padding-top: 120px;
    @include g.mq(lg) {
      padding-top: 70px;
    }
    &__inner {
      background-image: url(../images/introduction.png);
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      padding-top: 30px;
      @include g.mq(md) {
        padding-top: 0;
      }
    }
    &__block {
      margin: 0 50px;
      display: flex;
      justify-content: space-around;
      @include g.mq(md) {
        flex-direction: column;
        margin: 0;
        padding: 0 25px;
      }
    }
    &__body {
      &__text__block {
        display: none;
        @include g.mq(lg) {
          display: flex;
          justify-content: flex-start;
        }
      }
      &__heading {
        &__heading {
          text-align: justify!important;
          span {
            line-height: 36px;
            &:first-child {
              font-size: 1.25rem!important;
              border-radius: 50px;
              font-weight: bold;
              line-height: normal;
              padding: 10px 20px;
              display: block;
              width: fit-content;
              @include g.mq(md) {
                font-size: 0.6em!important;
              }
            }
          }
        }
        &__desc {
          margin-top: 20px;
          @include g.mq(md) {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 28px;
          }
          p {
            background-color: g.$color-heading;
            border-radius: 10px;
            color: g.$white;
            letter-spacing: 0.1em;
            padding: 12px 20px;
            width: fit-content;
            @include g.mq(md) {
              font-size: 0.6em;
              padding: 0 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 70px;
            }
            &:last-child {
              margin-top: 15px;
              width: 58%;
              @include g.mq(md) {
                width: auto;
                margin-top: 0;
              }
            }
          }
        }
      }
      &__content {
        padding-top: 35px;
        padding-left: 100px;
        line-height: 33.6px;
        @include g.mq(md) {
          padding-left: 0;
        }
        &__checkList {
          padding-top: 35px;
          &__item {
            display: flex;
            align-items: center;
            gap: 8px;
            &__icon {
              margin-top: -18px;
            }
            &__text {
              font-weight: bold;
            }
          }
        }
        &__text {
          &:last-child {
            p {
              margin-top: 35px;
            }
          }
        }
      }
    }
    &__img {
      &__inner {
        position: relative;
        @include g.mq(md) {
          padding-top: 30px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: end;
        }
      }
      &:first-child {
        @include g.mq(md) {
          max-width: 260px;
        }
      }
      &:last-child {
        margin-left: 50%;
        margin-top: -10%;
        @include g.mq(md) {
          margin-left: -60px;
        }
        img {
          max-width: 220px;
          @include g.mq(md) {
            max-width: 120px;
          }
        }
      }
    }
  }
  &-point {
    &__inner {
      padding: 50px;
      @include g.mq(md) {
        padding: 40px 25px;
      }
    }
    &__block {
      background-color: g.$color-bg;
      width: 100%;
      padding: 50px;
      @include g.mq(md) {
        padding: 40px 20px;
      }
    }
    &__heading {
      h2 {
        margin-top: 35px;
        @include g.mq(md) {
          margin-top: 15px;
        }
      }
      &__text {
        margin-top: 0;
      }
      &__desc {
        font-weight: bold;
        line-height: 33.6px;
        padding-top: 35px;
        text-align: center;
        @include g.mq(md) {
          text-align: justify;
          display: flex;
          justify-content: center;
        }
      }
    }
    &-radius {
      width: 168px;
      height: 168px;
      background-color: g.$color-heading;
      border-radius: 50%;
      @include g.mq(md) {
        width: 80px;
        height: 80px;
      }
      &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-top: 35px;
        @include g.mq(md) {
          gap: 8px;
          padding-top: 20px;
        }
      }
      &__icon {
        width: 30px;
        margin: 0 auto;
        margin-top: 40px;
        @include g.mq(md) {
          width: 20px;
          margin-top: 20px;
        }
      }
      &__text {
        color: g.$white;
        font-weight: bold;
        letter-spacing: 0.1em;
        text-align: center;
        margin-top: 20px;
        @include g.mq(md) {
          font-size: 0.6em;
          margin-top: 10px;
        }
      }
    }
  }
  &-area {
    background-color: transparent;
    &__inner {
      background-color: g.$color-primary;
      max-width: 1160px;
      margin: 0 auto;
      padding: 50px;
      @include g.mq(md) {
        padding: 40px 20px;
      }
    }
    &__heading {
      &__text {
        margin-top: 0;
        justify-content: flex-start;
      }
    }
    &__block {
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      @include g.mq(md) {
        flex-direction: column;
      }
    }
    &-prefecture {
      &__img {
        background-color: g.$white;
        border-radius: 20px;
        padding: 10px 60px;
      }
    }
    &-info {
      &__inner {
        width: 375px;
        @include g.mq(md) {
          padding-top: 40px;
          width: auto;
        }
      }
      &__block {
        background-color: g.$white;
        border-radius: 20px;
        padding: 25px;
        @include g.mq(md) {
          background-color: transparent;
          padding: 20px 0px;
        }
      }
      &__heading {
        display: flex;
        align-items: center;
        gap: 6px;
        img {
          width: 22px;
          height: 26px;
        }
        h3 {
          font-size: 1.25rem;
          font-weight: bold;
        }
      }
      &__check {
        &__list {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          row-gap: 20px;
          padding-top: 20px;
        }
        &__item {
          width: 157px;
          display: flex;
          align-items: center;
          @include g.mq(md) {
            width: 40%;
          }
          gap: 8px;
          &__city {
            font-weight: bold;
          }
        }
      }
      &__supplyment {
        font-size: 0.875em;
        line-height: 22.4px;
        padding-top: 20px;
      }
    }
  }
  &-flow {
    &__inner {
      padding: 80px 50px;
      @include g.mq(md) {
        padding: 40px 25px;
      }
    }
    &__block {
      background-color: g.$white;
      border-radius: 20px;
      padding: 120px 50px 65px;
      position: relative;
      @include g.mq(md) {
        padding: 20px;
      }
      &::after {
        content: "";
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(../images/clip.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 360px;
        height: 130px;
        @include g.mq(md) {
          width: 75px;
          height: 32px;
          top: -10px;
        }
      }
    }
    &__step {
      display: flex;
      gap: 50px;
      padding: 35px 0;
      border-bottom: 1px solid rgba(227, 121, 64, 0.2);
      @include g.mq(md) {
        flex-direction: column;
        gap: 0;
      }
      &:last-child {
        border-bottom: none;
      }
      &__inner {
        padding-top: 50px;
        @include g.mq(md) {
          padding-top: 0;
        }
      }
      &__img {
        width: 90px;
        height: 90px;
        padding: 25px;
        background-color: g.$color-primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include g.mq(md) {
          width: 55px;
          height: 55px;
          padding: 15px;
          margin: 0 auto;
        }
        &__text {
          color: g.$color-heading;
          font-weight: bold;
          text-align: center;
          @include g.mq(md) {
            line-height: 30px;
            margin-top: 10px;
          }
          span {
            font-size: 1.5625em;
            font-weight: bold;
          }
        }
      }
      &__body {
        padding-top: 30px;
        @include g.mq(md) {
          padding: 0;
        }
        &__text {
          padding-top: 35px;
          line-height: 33.6px;
          @include g.mq(md) {
            padding-top: 20px;
          }
          &__3 {
            margin-top: 35px;
          }
        }
        &__phoneNumber {
          border: 2px solid g.$color-heading;
          border-radius: 20px;
          margin-top: 35px;
          width: 90%;
          @include g.mq(md) {
            margin-top: 20px;
          }
        }
        &__list {
          line-height: 33.6px;
          &__inner {
            padding-top: 35px;
          }
          &__item {
            &:first-child {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
  &-philosophy {
    &-swiper {
      padding-top: 150px!important;
      @include g.mq(md) {
        padding-top: 70px!important;
      }
    }
    &__inner {
      background-image: url(../images/cta-back.png);
      background-size: contain;
      background-position-y: 200px;  
      width: 100%;
    }
    &__block {
      max-width: 1160px;
      margin: 0 auto;
      padding-top: 150px;
      @include g.mq(md) {
        padding: 0 25px;
        padding-top: 70px;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      padding-top: 70px;
      @include g.mq(md) {
        flex-direction: column-reverse;
        padding-top: 40px;
      }
      &__body {
        &__heading {
          line-height: 43.2px;
        }
        &__text {
          font-weight: bold;
          line-height: 33.6px;
          padding-top: 35px;
          @include g.mq(md) {
            line-height: 31.5px;
          }
        }
      }
    }
  }
}

//swiperの調整
/* コンテナー */
.container {
  padding-top: 150px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

/* スライダーのwrapper */
.infinite-slider .swiper-wrapper {
  transition-timing-function: linear;
}

/* スライド */
.infinite-slider .swiper-slide {
  height: 320px !important; /* 高さを指定 */
  width: auto !important;
  @include g.mq(md) {
    width: 168px!important;
    height: auto!important;
  }
}

/* スライド内の画像 */
.infinite-slider .swiper-slide img {
  width: auto;
  height: 100%;
}