@use "../../global" as g;

.p-treatment {
  &-symptoms {
    &__inner {
      max-width: 1160px;
    }
    &__block {
      text-align: center;
    }
    &__radius {
      @include g.mq(md) {
        width: 45%;
      }
      &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 35px;
        @include g.mq(md) {
          flex-wrap: wrap;
          justify-content: start;
          gap: 15px;
        }
      }
      &__img {
        width: 102px;
        height: 102px;
        background-color: g.$color-heading;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        @include g.mq(md) {
          margin: 0 auto;
        }
        img {
          width: auto;
        }
      }
      &__desc {
        font-weight: bold;
        margin-top: 20px;
        @include g.mq(md) {
          margin: 0 auto;
          width: 100%;
          padding-top: 10px;
        }
      }
    }
    &-indication {
      &__block {
        background-color: g.$color-primary;
        border-radius: 20px;
        padding: 50px;
        margin-top: 70px;
        @include g.mq(md) {
          margin: 25px;
        }
      }
      &__heading {
        text-align: center;
      }
      &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 30px;
        padding-top: 35px;
        @include g.mq(md) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      &__item {
        display: flex;
        align-items: center;
        gap: 6px;
        &__name {
          font-weight: bold;
        }
      }
    }
  }
  &-equipment {
    padding: 65px 50px;
    @include g.mq(md) {
      padding: 25px;
    }
    &__block {
      background-color: g.$white;
      border-radius: 20px;
      padding: 50px 90px;
      max-width: 1160px;
      margin: 0 auto;
      @include g.mq(md) {
        padding: 25px;
      }
    }
    &__heading {
      &__text {
        margin-top: 0;
      }
    }
    &__body {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      row-gap: 50px;
      padding-top: 45px;
      @include g.mq(md) {
        display: block;
      }
    }
    &__content {
      width: 50%;
      @include g.mq(md) {
        width: 100%;
        padding-top: 30px;
      }
      &__flex {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-top: 20px;
        @include g.mq(md) {
          display: block;
        }
      }
      &__img {
        @include g.mq(md) {
          width: 60%;
          margin: 0 auto;
        }
      }
      &__text {
        width: 50%;
        line-height: 33.6px;
        @include g.mq(md) {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}