@use "../../global" as g;
.c-email-btn {
  width: 100%;
  background-color: g.$color-btn;
  border-radius: 10px;
  color: g.$white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 1;
  padding: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.8s ease;
  &:hover {
    opacity: 0.7;
  }
  &-img {
    margin-top: -4px;
    @include g.mq(md) {
      margin-top: -8px;
    }
  }
  &-text {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    @include g.mq(md) {
      font-size: 16px;
      letter-spacing: 0;
    }
  }
}
