@use "../../global" as g;

.u-font {
  font-size: 0.75rem!important;
  font-family: "Inter", "Noto Sans JP", "Hiragino Sans" , "ヒラギノ角ゴ ProN", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, "游ゴシック Medium", YuGothic, YuGothicM, sans-serif!important;
  color: g.$color-text!important;
}